<h2>Список парикмахеров</h2>
<% @barber.each do |x| %>
<p>
<%= x.name %>
</p>
<% end %>

<h2>Список контактов</h2>
<% @contacts.each do |x| %>
<p>
|<%= x.fio %>|
<i><%= x.email %></i>|
<B><%= x.sotik %></B>|
<%= x.discription %>|
</p>
<% end %>